*{
  margin:0;
  box-sizing: border-box;
  padding: 0;  
}
body{
    background: black;
    color: white; 
}
.main2{
    width: 100vw;
    height: 100vh;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;   
}
.container{
  background: linear-gradient(35deg,rgb(0, 255, 200),rgb(241, 4, 241));
  height:33rem;
  width:30rem;
  text-align: center;
  margin-top: 6%;
}
.mi{
    width:15rem;
    height:230px;
 text-align: center;
 box-shadow: 4px 3px 2px 1px rgba(22, 2, 15, 0.219);
 margin-left: 29%;
 margin-top:5%;
}
h1{
    border:none;
    border-radius: 50%;
    box-shadow: 2px 1px 7px 1px rgb(7, 7, 7);
    width:180px;
    height: 180px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color:rgb(19, 19, 19); 
    text-shadow: 1px 1px rgb(230, 229, 206);   
    background-image:linear-gradient(45deg, rgb(25, 78, 4),rgb(13, 245, 233), rgb(109, 9, 122) );
}
select{
  margin-top: 12%;
  height: 67px;
  width:67px;
  font-size: xx-large;
  border: none;
  text-decoration: none;
  background: rgb(24, 5, 75);
  box-shadow: 1px 1px 1px 1px white;
  color:beige;
  text-shadow:1px 1px tomato;
  text-align: center;
  padding-left: 5px;
  border-radius: 17px;
  cursor: pointer;
  font-family:cursive;

}
select:hover{
  border:none;
  
  box-decoration-break: unset;
 
}
#ap{
  height: 70px;
  width:67px;
  font-size: x-large;
}
option{
  background-color: rgb(235, 172, 91);
  font-size: large;
}
#start{
  margin-top:5%;
  font-size: x-large;
  font-style:oblique;
  border: none;
  padding:9px;
  color:rgba(0, 0, 139, 0.664);
  font-weight: bold;
  background-color:rgba(255, 127, 80, 0.719);
  border-radius: 8px;
  -webkit-box-reflect: below 2px linear-gradient(transparent,transparent,#0008);
}
#start:hover{
  transform:perspective(900px) rotatey(20deg) rotateY(-20deg);
}
.main{
 
 
  
  background: rgba(236, 156, 52, 0.993);
  height: 54px;
  width:399px;
 text-align:center;
 font-size:20px;
 margin-bottom: 5%;
 
}
a{
text-decoration: none;
color:rgb(151, 4, 53);
font-weight: bold;
padding:5px;
}
.d1{
  width:100vw;
  background: rgba(236, 156, 52, 0.993);

}

i{
  color:black;
}